body {
    height: 100vh;
    width:100vw;
    margin: 0%;
    padding: 0%;   
    overflow: hidden;
} 

.main {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
      
}

.container {
    height:100vh;
    width:400px;
    display: flex;
    flex-direction: column;
    margin-top: -3rem;
    
}
.info {
    display: flex;
    flex-direction: column;
} 

.info label {
    margin-bottom: -15px;
}

.info input {
    border-radius: 5px;
    padding:10px;
    border:solid 0.5px rgb(133, 131, 131);
} 

 button {
    border-radius: 5px;
    border-style: none;
    padding: 10px;
    background-color: rgb(6, 65, 6);
    color:white;
    font-size: 1.5;
    font-weight: 600;
}

.container a {
    text-decoration: none;
    margin-left: 80px;
    color: rgb(1, 68, 1);
}
#forgot {
    margin-left: 120px;
}
#log_h2 {
    margin-left: 100px;
} 
#sign_h2 {
    margin-left: 40px;
}